<!-- START widgets box-->

<aside ng-include="'app/views/partials/change-center.html'"></aside>
<div class="clearfix"></div>
<div class="row pt">
    <!-- START widget-->
    <div class="panel panel-default">
        <div class="panel-body text-center">
            <div class="row">
                <div class="col-md-2 p0">
                    <div class="panel-heading p0">Default</div>
                    <canvas classyloader="" data-percentage="34" data-speed="20" data-font-size="20px" data-diameter="30" data-line-color="#f35839" data-remaining-line-color="#edf2f6" data-line-width="40"></canvas>
                </div>
                <div class="col-md-2 p0">
                    <div class="panel-heading p0">PS1</div>
                    <canvas classyloader="" data-percentage="34" data-speed="20" data-font-size="20px" data-diameter="30" data-line-color="#f35839" data-remaining-line-color="#edf2f6" data-line-width="40"></canvas>
                </div>
                <div class="col-md-2 p0">
                    <div class="panel-heading p0">PS2</div>
                    <canvas classyloader="" data-percentage="34" data-speed="20" data-font-size="20px" data-diameter="30" data-line-color="#f35839" data-remaining-line-color="#edf2f6" data-line-width="40"></canvas>
                </div>
                <div class="col-md-2 p0">
                    <div class="panel-heading p0">Ps3</div>
                    <canvas classyloader="" data-percentage="34" data-speed="20" data-font-size="20px" data-diameter="30" data-line-color="#f35839" data-remaining-line-color="#edf2f6" data-line-width="40"></canvas>
                </div>
                <div class="col-md-2 p0">
                    <div class="panel-heading p0">Class1</div>
                    <canvas classyloader="" data-percentage="34" data-speed="20" data-font-size="20px" data-diameter="30" data-line-color="#f35839" data-remaining-line-color="#edf2f6" data-line-width="40"></canvas>
                </div>
                <div class="col-md-2 p0">
                    <div class="panel-heading p0">Class2</div>
                    <canvas classyloader="" data-percentage="34" data-speed="20" data-font-size="20px" data-diameter="30" data-line-color="#f35839" data-remaining-line-color="#edf2f6" data-line-width="40"></canvas>
                </div>
            </div>
            <p class="p0 m0">Ratios</p>
            <!--<div class="row">
                <div>
                </div>
            </div>-->
        </div>
    </div>
    <!-- END widgets box-->
    <!-- START dashboard main content-->
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Pending Activities</div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row row-table pv-lg">
                            <div class="col-xs-3 col-sm-3 col-md-4 p0">
                                <div class="ph">
                                    <img class="media-box-object img-responsive img-rounded thumb64" alt="" src="app/img/dummy.png">
                                </div>
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-8 p0">
                                <p class="m0 lead">Teacher Name</p>
                                <p class="m0 lead">Child Name</p>
                                <p class="m0">
                                    <small>Activity</small>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row row-table pv-lg">
                            <div class="col-xs-3 col-sm-3 col-md-4 p0">
                                <div class="ph">
                                    <img class="media-box-object img-responsive img-rounded thumb64" alt="" src="app/img/dummy.png">
                                </div>
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-8 p0">
                                <p class="m0 lead">Teacher Name</p>
                                <p class="m0 lead">Child Name</p>
                                <p class="m0">
                                    <small>Activity</small>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row row-table pv-lg">
                            <div class="col-xs-3 col-sm-3 col-md-4 p0">
                                <div class="ph">
                                    <img class="media-box-object img-responsive img-rounded thumb64" alt="" src="app/img/dummy.png">
                                </div>
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-8 p0">
                                <p class="m0 lead">Teacher Name</p>
                                <p class="m0 lead">Child Name</p>
                                <p class="m0">
                                    <small>Activity</small>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="panel-footer clearfix">
                    <a href="#" class="pull-left">
                        <small>View Activities</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel  panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Attendance</div>
                </div>
                <!-- START List group-->
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row row-table pv-lg">
                            <div class="col-xs-3 col-sm-3 col-md-4 p0">
                                <div class="ph">
                                    <img class="media-box-object img-responsive img-rounded thumb64" alt="" src="app/img/dummy.png">
                                </div>
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-8 p0">
                                <p class="m0 lead">Child Name</p>
                                <p class="m0">
                                    <small>Reason Absence</small>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row row-table pv-lg">
                            <div class="col-xs-3 col-sm-3 col-md-4 p0">
                                <div class="ph">
                                    <img class="media-box-object img-responsive img-rounded thumb64" alt="" src="app/img/dummy.png">
                                </div>
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-8 p0">
                                <p class="m0 lead">Child Name</p>
                                <p class="m0">
                                    <small>Reason Absence</small>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row row-table pv-lg">
                            <div class="col-xs-3 col-sm-3 col-md-4 p0">
                                <div class="ph">
                                    <img class="media-box-object img-responsive img-rounded thumb64" alt="" src="app/img/dummy.png">
                                </div>
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-8 p0">
                                <p class="m0 lead">Child Name</p>
                                <p class="m0">
                                    <small>Reason Absence</small>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- END List group-->
            </div>
        </div>
        <div class="col-lg-5">
            <!-- START messages and activity-->
            <div class="panel  panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Latest activities</div>
                </div>
                <!-- START list group-->
                <div class="list-group">
                    <!-- START list group item-->
                    <div class="list-group-item">
                        <div class="media-box">
                            <div class="pull-left">
                                <span class="fa-stack">
                                    <em class="fa fa-circle fa-stack-2x text-purple"></em>
                                    <em class="fa fa-cloud-upload fa-stack-1x fa-inverse text-white"></em>
                                </span>
                            </div>
                            <div class="media-box-body clearfix">
                                <small class="text-muted pull-right ml">15m</small>
                                <div class="media-box-heading">
                                    <a href="#" class="text-purple m0">NEW FILE</a>
                                </div>
                                <p class="m0">
                                    <small>
                                        <a href="#">Bootstrap.xls</a>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- END list group item-->
                    <!-- START list group item-->
                    <div class="list-group-item">
                        <div class="media-box">
                            <div class="pull-left">
                                <span class="fa-stack">
                                    <em class="fa fa-circle fa-stack-2x text-info"></em>
                                    <em class="fa fa-file-text-o fa-stack-1x fa-inverse text-white"></em>
                                </span>
                            </div>
                            <div class="media-box-body clearfix">
                                <small class="text-muted pull-right ml">2h</small>
                                <div class="media-box-heading">
                                    <a href="#" class="text-info m0">NEW DOCUMENT</a>
                                </div>
                                <p class="m0">
                                    <small>
                                        <a href="#">Bootstrap.doc</a>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- END list group item-->
                    <!-- START list group item-->
                    <div class="list-group-item">
                        <div class="media-box">
                            <div class="pull-left">
                                <span class="fa-stack">
                                    <em class="fa fa-circle fa-stack-2x text-danger"></em>
                                    <em class="fa fa-exclamation fa-stack-1x fa-inverse text-white"></em>
                                </span>
                            </div>
                            <div class="media-box-body clearfix">
                                <small class="text-muted pull-right ml">5h</small>
                                <div class="media-box-heading">
                                    <a href="#" class="text-danger m0">BROADCAST</a>
                                </div>
                                <p class="m0">
                                    <a href="#">Read</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- END list group item-->
                    <!-- START list group item-->
                    <div class="list-group-item">
                        <div class="media-box">
                            <div class="pull-left">
                                <span class="fa-stack">
                                    <em class="fa fa-circle fa-stack-2x text-success"></em>
                                    <em class="fa fa-clock-o fa-stack-1x fa-inverse text-white"></em>
                                </span>
                            </div>
                            <div class="media-box-body clearfix">
                                <small class="text-muted pull-right ml">15h</small>
                                <div class="media-box-heading">
                                    <a href="#" class="text-success m0">NEW MEETING</a>
                                </div>
                                <p class="m0">
                                    <small>
                                        On
                                        <em>10/12/2015 09:00 am</em>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- END list group item-->
                    <!-- START list group item-->
                    <div class="list-group-item">
                        <div class="media-box">
                            <div class="pull-left">
                                <span class="fa-stack">
                                    <em class="fa fa-circle fa-stack-2x text-warning"></em>
                                    <em class="fa fa-tasks fa-stack-1x fa-inverse text-white"></em>
                                </span>
                            </div>
                            <div class="media-box-body clearfix">
                                <small class="text-muted pull-right ml">1w</small>
                                <div class="media-box-heading">
                                    <a href="#" class="text-warning m0">TASKS COMPLETION</a>
                                </div>
                                <uib-progressbar value="22" type="warning" class="progress-xs m0">22%</uib-progressbar>
                            </div>
                        </div>
                    </div>
                    <!-- END list group item-->
                </div>
                <!-- END list group-->
                <!-- START panel footer-->
                <div class="panel-footer clearfix">
                    <a href="#" class="pull-left">
                        <small>Load more</small>
                    </a>
                </div>
                <!-- END panel-footer-->
            </div>
            <!-- END messages and activity-->
        </div>

    </div>

    <!-- END dashboard main content-->

</div>