<!-- START widgets box-->
<div class="row">

    <!-- START widget-->
    <div class="panel panel-default">
        <div class="panel-body">
            <div uib-dropdown="dropdown" class="btn-group pull-right">
                <button uib-dropdown-toggle="" class="btn btn-default">
                    O kr v <b class="caret"></b>
                </button>
                <ul role="menu" class="dropdown-menu animated bounceInDown">
                    <li>
                        <a href="#">Action</a>
                    </li>
                    <li>
                        <a href="#">Another action</a>
                    </li>
                    <li>
                        <a href="#">Something else here</a>
                    </li>
                    <li>
                        <a href="#">Separated link</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END widgets box-->


</div>


