<!-- START widgets box-->
<div>
    <div class="clearfix"></div>
    <!-- START widget-->
    <div >       
        <div class="panel-body">
            <h3 class="page-header mt0">Approved <small>(# Items Ex : B)</small></h3>
            <!-- START row-->
            <!-- Image Table One START row-->
            <div >
                <div ng-controller="MasonryDeckController as deck" class="container-fluid p0">
                    <div deckgrid="" source="deck.photos"  class="deckgrid clearfix p0">
                        <div class="col-sm-4 left p0">
                            <div class="photo-wrapper pt-sm">
                                <img src="app/img/user/04.jpg" data-imageloaded="" data-loadedclass="photoloaded" class="img-responsive" />
                                <div class="photo-loader">
                                    <div class="sk-spinner sk-spinner-rotating-plane"></div>
                                </div>
                            </div>
                            <div class="photo-description  p0">
                                <p>Child name</p>
                            </div>
                        </div>
                        <div class="col-sm-4 left p0">
                            <div class="photo-wrapper pt-sm">
                                <img src="app/img/user/04.jpg" data-imageloaded="" data-loadedclass="photoloaded" class="img-responsive" />
                                <div class="photo-loader">
                                    <div class="sk-spinner sk-spinner-rotating-plane"></div>
                                </div>
                            </div>
                            <div class="photo-description  p0">
                                <p>Child name</p>
                            </div>
                        </div>
                        <div class="col-sm-4 left p0">
                            <div class="photo-wrapper pt-sm">
                                <img src="app/img/user/04.jpg" data-imageloaded="" data-loadedclass="photoloaded" class="img-responsive" />
                                <div class="photo-loader">
                                    <div class="sk-spinner sk-spinner-rotating-plane"></div>
                                </div>
                            </div>
                            <div class="photo-description  p0">
                                <p>Child name</p>
                            </div>
                        </div>
                        <div class="col-sm-4 left p0">
                            <div class="photo-wrapper pt-sm">
                                <img src="app/img/user/04.jpg" data-imageloaded="" data-loadedclass="photoloaded" class="img-responsive" />
                                <div class="photo-loader">
                                    <div class="sk-spinner sk-spinner-rotating-plane"></div>
                                </div>
                            </div>
                            <div class="photo-description  p0">
                                <p>Child name</p>
                            </div>
                        </div>
                    </div>
                </div>               
            </div>
            <!-- END row-->
            <div class="clearfix"></div>
            <h3 class="page-header mt0">Denied <small>(# Items Ex : B)</small></h3>
            <!-- Image Table Two START row-->
            <div >
                <div ng-controller="MasonryDeckController as deck" class="container-fluid p0">
                    <div deckgrid="" source="deck.photos" class="deckgrid clearfix p0">
                        <div class="col-sm-4 left p0">
                            <div class="photo-wrapper pt-sm">
                                <img src="app/img/user/04.jpg" data-imageloaded="" data-loadedclass="photoloaded" class="img-responsive" />
                                <div class="photo-loader">
                                    <div class="sk-spinner sk-spinner-rotating-plane"></div>
                                </div>
                            </div>
                            <div class="photo-description  p0">
                                <p>Child name</p>
                            </div>
                        </div>
                        <div class="col-sm-4 left p0">
                            <div class="photo-wrapper pt-sm">
                                <img src="app/img/user/04.jpg" data-imageloaded="" data-loadedclass="photoloaded" class="img-responsive" />
                                <div class="photo-loader">
                                    <div class="sk-spinner sk-spinner-rotating-plane"></div>
                                </div>
                            </div>
                            <div class="photo-description  p0">
                                <p>Child name</p>
                            </div>
                        </div>
                        <div class="col-sm-4 left p0">
                            <div class="photo-wrapper pt-sm">
                                <img src="app/img/user/04.jpg" data-imageloaded="" data-loadedclass="photoloaded" class="img-responsive" />
                                <div class="photo-loader">
                                    <div class="sk-spinner sk-spinner-rotating-plane"></div>
                                </div>
                            </div>
                            <div class="photo-description  p0">
                                <p>Child name</p>
                            </div>
                        </div>
                        <div class="col-sm-4 left p0">
                            <div class="photo-wrapper pt-sm">
                                <img src="app/img/user/04.jpg" data-imageloaded="" data-loadedclass="photoloaded" class="img-responsive" />
                                <div class="photo-loader">
                                    <div class="sk-spinner sk-spinner-rotating-plane"></div>
                                </div>
                            </div>
                            <div class="photo-description  p0">
                                <p>Child name</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END row-->
        </div>
    </div>
    <!-- END widgets box-->
</div>
<div class="text-center">
    <button type="button" ng-click="closeThisDialog(0)" class="btn btn-info btn-large">Ok, Got It!</button>
</div>

